<router-outlet></router-outlet>
<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span>UNI EVENT FINDER</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add Event</button>

</mat-toolbar>
<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="eventName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </th>
          <td mat-cell *matCellDef="let row"> {{row.eventName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="eventCaregory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Category </th>
          <td mat-cell *matCellDef="let row"> {{row.eventCaregory}}</td>
        </ng-container>

        <ng-container matColumnDef="eventStartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Start Date </th>
          <td mat-cell *matCellDef="let row"> {{row.eventStartDate | date}} </td>
        </ng-container>
    
        <ng-container matColumnDef="eventEndDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Event End Date </th>
          <td mat-cell *matCellDef="let row"> {{row.eventEndDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="eventLocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Location </th>
          <td mat-cell *matCellDef="let row"> {{row.eventLocation}} </td>
        </ng-container>

        <ng-container matColumnDef="eventCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Cost </th>
          <td mat-cell *matCellDef="let row"> {{row.eventCost | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="eventDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Description</th>
          <td mat-cell *matCellDef="let row"> {{row.eventDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
          <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="editEvent(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>  

          <button (click)="deleteEvent(row.id)" mat-icon-button color="warn">
            <mat-icon >delete</mat-icon>
          </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div> -->