 
<mat-toolbar>
    <span>Registration</span>
 </mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
         
      <!-- CONTENT HERE -->
         
    </mat-card-content>
    <mat-card-actions>
      <!-- REGISTER BUTTON -->
    </mat-card-actions>
 </mat-card>
 <mat-card-content>
    <form class="my-form">
       <mat-form-field class="full-width">
              <mat-label>Is_international</mat-label>
              <input  matInput  placeholder="Is_international"  name="isi"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Need_job</mat-label>
              <input  matInput  placeholder="need_job" name="needjob"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Program</mat-label>
              <input  matInput  placeholder="program" name="program"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
            <mat-label>Major</mat-label>
            <input  matInput  placeholder="major"  name="major"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Interest_list</mat-label>
            <input  matInput  placeholder="Interest_list"  name="Interest_list"  required>
         </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput  placeholder="Email" name="email">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password"  name="password">
           </mat-form-field>
    </form>
  </mat-card-content>
  <section class="example-section">
   
  </section>

  
<mat-card-content>
    <form class="my-form">
       <!--FORM FIELDS-->
    </form>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-raised-button (click)="register()" color="primary">REGISTER</button> -->
    <button mat-raised-button color="primary">REGISTER</button>
  </mat-card-actions>